.badge{
    font-size: 1.3em;
    border: 0.5px solid #838785;
    color: #838785;
}
.badge:hover{
    background: #2360db;
    color: white;
    cursor: pointer;
}
.allImages{
    padding: 0;
    display: none;
}
